<div class="sign_in_button">
  <%= form_tag user_omniauth_authorize_path(provider: :google_oauth2), method: :post do %>
    <%= submit_tag "Entre com o Google!", class: "btn btn-lg btn-danger btn-block" %>
  <% end %>
</div>
